<div class="home__layout">
  <div id="hero" class="home__segment"><peep-hole class="home__segment-content" name="space-photo"></peep-hole></div>
  <div id="facts" class="home__segment"><peep-hole class="home__segment-content" name="space-facts"></peep-hole></div>
  <div id="place" class="home__segment"><peep-hole class="home__segment-content" name="space-place"></peep-hole></div>
  <div id="footer" class="home__segment"><peep-hole class="home__segment-content" name="space-footer"></peep-hole></div>
</div>
