<div class="facts__container">
  <ul class="facts__slider">
    <li id="fact-1" class="facts__item">
      <div class="facts__panel">
        <img
          class="facts__image"
          src="https://via.placeholder.com/400"
          alt="fact 1"
        />
        <div class="facts__content">
          <h3 class="facts__title">Better stick with a rubber ducky</h3>
          <p class="facts__text">
            Saturn is the only planet in our solar system that is less dense
            than water. It could float in a bathtub if anybody could build a
            bathtub big enough.
          </p>
        </div>
      </div>
    </li>
    <li id="fact-2" class="facts__item facts__item--focus">
      <div class="facts__panel">
        <img
          class="facts__image"
          src="https://via.placeholder.com/400"
          alt="fact 2"
        />
        <div class="facts__content">
          <h3 class="facts__title">Fastest</h3>
          <p class="facts__text">
            True to its namesake (the speedy messenger of ancient Roman gods),
            Mercury is the fastest planet in our solar system. It zips around
            our Sun at an average of 172,000 kilometers per hour (107,000 miles
            per hour) — about 65,000 kph (40,000 mph) faster than Earth. A year
            on Mercury is equal to 88 Earth days.
          </p>
        </div>
      </div>
    </li>
    <li id="fact-3" class="facts__item">
      <div class="facts__panel">
        <img
          class="facts__image"
          src="https://via.placeholder.com/400"
          alt="fact 3"
        />
        <div class="facts__content">
          <h3 class="facts__title">Biggest and smallest!</h3>
          <p class="facts__text">
            Ceres is the largest, most massive body in the main asteroid belt
            between Mars and Jupiter, totaling about a third of the total mass
            of the entire belt. But Ceres is the smallest of the dwarf planets,
            which include Pluto and Eris, and the only dwarf planet that resides
            in the asteroid belt.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
