<div class="hero__banner">
  <peep-hole name="hero-image"></peep-hole>
  <div class="hero__content-wrapper">
    <div class="hero__content">
      <h1 class="hero__title">Pic of the Day</h1>
      <div class="hero__summary">
        <div class="hero__summary-content">
          <h4><peep-hole class="hero__summary-title" name="hero-title"></peep-hole></h4>
          <peep-hole class="hero__summary-text" name="hero-summary"></peep-hole>
          <a href="#detail">(read more)</a>
        </div>
      </div>
    </div>
  </div>
</div>
