<div class="footer__container">
  <div class="footer__content">
    <div class="footer__segment footer__segment--primary">
      <h4 class="footer__segment-title"><span>First Title</span></h4>
      <ol class="footer__segment-links">
        <li><a>this is a thing that's just a little longer than the rest</a></li>
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
      </ol>
    </div>
    <div class="footer__segment">
      <h4 class="footer__segment-title"><span>Another title</span></h4>
      <ol class="footer__segment-links">
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
      </ol>
    </div>
    <div class="footer__segment">
      <h4 class="footer__segment-title"><span>Last one</span></h4>
      <ol class="footer__segment-links">
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
        <li><a>this is a thing of the same length</a></li>
      </ol>
    </div>
  </div>
  <div class="footer__info">
    <div class="footer__copy">
      <span>x @2020 Look again, This is just some garbage</span>
    </div>
    <div class="footer__terms">
      <a>blah</a>
      <a>blah</a>
      <a>blah</a>
    </div>
  </div>
</div>
