#place {
  background-color: rgb(95, 95, 95);
}
.satellite {
  &__container {
    position: relative;
  }

  &__location {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: white;
  }

  &__location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__location-title {
    padding: $standard-padding;
  }
}
